$interactiveBlueBackground: rgba(7, 33, 150, 0.75);
$interactiveBlueAccent: rgba(7, 33, 150, 1);

$acceptGreenBackground: rgba(31, 150, 7, 0.75);
$acceptGreenAccent: rgba(31, 150, 7, 1);

$dangerRedBackground: rgba(189, 22, 22, 0.75);
$dangerRedAccent: rgba(189, 22, 22, 1);

$inactiveGreyBackground: rgba(92, 92, 92, 0.75);
$inactiveGreyAccent: rgba(92, 92, 92, 1);

$noBackground: rgba(0, 0, 0, 0);
$noAccent: rgba(0, 0, 0, 0);